body, html {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', Arial, sans-serif;
    background: #121212;
    color: white;
  }
    
  .banner {
    flex: 1;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    height: 112%;
    background: url('/assets/images/bannercadastro.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
    
    .register-container {
      background:rgba(0, 58, 71, 0.716);
      padding: 1% 2%;
      border-radius: 2%;
      text-align: center;
      width: 30%;
      height: auto;
    }
    
    .register-container h2 {
      color: #00252d;
      font-size: 2em;
      border-bottom: 2px solid rgb(0, 43, 55);
      padding-bottom: 2%;
      margin-bottom: 10%;
    }
    
    .register-container label {
      color: #00252d;
      display: block;
      font-size: 1em;
      text-align: left;
      margin-bottom: 2%;
    }
    
    .register-container input {
      width: 100%;
      padding: 1%;
      margin-bottom: 5%;
      border: none;
      border-bottom: 2px solid #00252d;
      background: transparent;
      color: #00252d;
      font-size: 0.9em;
    }
    
    .register-container input:focus {
      outline: none;
      border-bottom: 2px solid #73bcc2;
    }
    
    .register-container button {
      width: 100%;
      padding: 2%;
      background: #00252d;
      color: rgb(175, 216, 216);
      border: none;
      border-radius: 5px;
      font-size: 1em;
      cursor: pointer;
      transition: background 0.3s;
      margin-bottom: 2%;
    }
    
    .register-container button:hover {
      background: #0084b997;
    }
    
    .register-container .forgot-password {
      display: block;
      margin-top: 10%;
      font-size: 0.9em;
      color: #ffffff;
      text-decoration: none;
      transition: color 0.3s;
    }
    
    .login-container .forgot-password:hover {
      color:  #73bcc2;
    }
    