* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-block-end: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', Arial, sans-serif;
    background: #121212;
    color: white;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-block-end: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/images/banner2.png') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    text-align: left;
}

.content {
    position: relative;
    top: 60%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 0 50px;
    margin-left: 60px;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1.1;
}

.title {
    color: #ffffffe0;
    display: block;
    font-size: 1.0em;
}

.btn-learn-more {
    background: rgba(255, 255, 255, 0.849);
    color: #383838;
    padding: 20px 50px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 500;
    font-size: 2em;
    transition: background 0.3s, color 0.3s;
    display: flex;
    align-items: center;
}

.btn-learn-more:hover {
    background: #666;
    color: white;
}

.services {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 100px 10px;
    background: transparent;
    text-align: center;
}

.services-title {
    color: #ffffff;
    font-size: 2.5em;
    margin-bottom: 90px;
}

.service-columns {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.service-column {
    background: rgba(8, 57, 82, 0.754);
    padding: 40px 10px;
    border-radius: 30px;
    width: 230px; /* Largura fixa para uniformidade */
    height: 250px; /* Altura fixa para todas as caixas */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.service-title {
    color: #000000;
    font-size: 1.0em;
    font-weight: 600;
    margin-bottom: 20px;
}

.state-flag {
    width: 100px; /* Ajuste conforme necessário */
    height: auto;
    margin-bottom: 40px;
    border-radius: 10px;
}

.service-column .btn-learn-more {
    margin-top: auto;
    background: #2c2c2ce3;
    color: #e0e0e0;
    font-size: 0.9em;
    padding: 10px 20px;
}

.service-column .btn-learn-more:hover {
    background: #4a4a4a;
    color: #fff;
}

@media (max-width: 768px) {
    .service-columns {
        flex-direction: column;
    }

    .service-column {
        max-width: 100%;
    }
}
