<html>
  <body>
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <div class="banner"></div>
    <section class="services">
      <h2 class="services-title">LEIS</h2>
      <div class="service-columns">
        <div class="service-column">
          <p class="service-title">BRASIL</p>
          <img src="/assets/images/brasil.png" alt="Bandeira Federal" class="state-flag">
          <a href="https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2015/lei/l13146.htm" class="btn-learn-more" target="_blank" rel="noopener noreferrer">LINK</a>
        </div>
        <div class="service-column">
          <p class="service-title">ACRE</p>
          <img src="/assets/images/acre.png" alt="Bandeira do Acre" class="state-flag">
          <a href="https://legis.ac.gov.br/detalhar/5273" class="btn-learn-more" target="_blank" rel="noopener noreferrer">LINK</a>
        </div>
        <div class="service-column">
          <p class="service-title">RIO DE JANEIRO</p>
          <img src="/assets/images/riodejaneiro.png" alt="Bandeira do Rio de Janeiro" class="state-flag">
          <a href="http://alerjln1.alerj.rj.gov.br/contlei.nsf/c8aa0900025feef6032564ec0060dfff/9c81d61d66fbc3018325824a005e4b90?OpenDocument&Highlight=0,7893" class="btn-learn-more" target="_blank" rel="noopener noreferrer">LINK</a>
        </div>
        <div class="service-column">
            <p class="service-title">RIO GRANDE DO SUL</p>
            <img src="/assets/images/riograndedosul.png" alt="Bandeira do Rio Grande do Sul" class="state-flag">
            <a href="https://ww3.al.rs.gov.br/legis/M010/M0100099.asp?Hid_Tipo=TEXTO&Hid_TodasNormas=71001&hTexto=&Hid_IDNorma=71001" class="btn-learn-more" target="_blank" rel="noopener noreferrer">LINK</a>
        </div>
        <div class="service-column">
          <p class="service-title">RONDÔNIA</p>
          <img src="/assets/images/rondonia.png" alt="Bandeira de Rondônia" class="state-flag">
          <a href="https://sapl.al.ro.leg.br/media/sapl/public/normajuridica/2024/12168/l5821.pdf" class="btn-learn-more" target="_blank" rel="noopener noreferrer">LINK</a>
        </div>
        <div class="service-column">
            <p class="service-title">SANTA CATARINA</p>
            <img src="/assets/images/santacatarina.png" alt="Bandeira de Santa Catarina" class="state-flag">
            <a href="http://leis.alesc.sc.gov.br/html/2020/17897_2020_lei.html" class="btn-learn-more" target="_blank" rel="noopener noreferrer">LINK</a>
        </div>
      </div>
    </section>
  </body>
</html>
