<html>
  <body>
    <app-navbarcustomer></app-navbarcustomer>
    <router-outlet></router-outlet>

    <div class="banner">
      <div class="container">
        <div class="sidebar">
          <div class="profile-pic">
            <img [src]="condutor?.foto ? 'data:image/jpeg;base64,' + condutor?.foto : '/assets/images/perfil.png'" alt="Foto de perfil">
          </div>
          <h2 class="username">{{ condutor?.nome || 'Nome do usuário' }}</h2>
          <nav>
            <ul>
              <li><button [routerLink]="['/perfil', id]">PERFIL</button></li>
              <li><button [routerLink]="['/usercustomer', id]">USUÁRIO</button></li>
              <li><button [routerLink]="['/condutorcustomer', id]">CONDUTOR</button></li>
              <li><button [routerLink]="['/caocustomer', id]">CÃO DE SERVIÇO</button></li>
              <li><button [routerLink]="['/enderecocustomer', id]">ENDEREÇO</button></li>
              <li><button [routerLink]="['/adestramentocustomer', id]">ADESTRAMENTO</button></li>
              <li><button [routerLink]="['/documentacaocustomer', id]">DOCUMENTAÇÃO</button></li>
              <li><button [routerLink]="['/cadastrocustomer', id]">CADASTRO</button></li>
            </ul>
          </nav>
        </div>

        <div class="user-details">
          <h2>CADASTRO</h2>
          <app-cadastrosave *ngIf="showCadastroSave"></app-cadastrosave>
          <app-cadastroupdate *ngIf="showCadastroUpdate"></app-cadastroupdate>
        </div>
      </div>
    </div>
    <app-footercustomer></app-footercustomer>
  </body>
</html>
