<html>
  <body>
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <div class="banner">
      <div class="login-container">
        <h2>Login</h2>
        <form (ngSubmit)="login()">
            <label for="username">E-mail</label>
            <input type="text" id="username" name="username" [(ngModel)]="username" required>

            <label for="password">Senha</label>
            <input type="password" id="password" name="password" [(ngModel)]="password" required>
          <button type="submit">Login</button>
        </form>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      </div>
    </div>    
    <app-footer></app-footer>
    <div class="modal-overlay" *ngIf="showModal">
      <div class="modal">
        <h2>Deseja entrar como ADMINISTRADOR ou CLIENTE?</h2>
        <div class="modal-buttons">
          <button class="modal-btn confirm-btn" (click)="onConfirmAdmin(true)">ADMINISTRADOR</button>
          <button class="modal-btn cancel-btn" (click)="onConfirmAdmin(false)">CLIENTE</button>
        </div>
      </div>
    </div>
  </body>
</html>
