<html>
  <body>
    <app-navbaradmin></app-navbaradmin>
    <router-outlet></router-outlet>
    <div class="banner">
      <div class="content">
        <h1>SOLICITAÇÕES PENDENTES</h1>
        <div class="about-columns">
          <div *ngFor="let user of pendingUsers" class="about-column" (click)="perfil(user.id!)">
            <p class="author first-paragraph">Nome: {{ getCondutorNome(user) }}</p>
            <p class="author first-paragraph">E-mail: {{ user.email }}</p>
            <p>
              Perfis: 
              <span *ngFor="let role of user.roles; let isLast = last">
                {{ role.nome }}<span *ngIf="!isLast">, </span>
              </span>
            </p>
            <div class="button-group">
              <ng-container *ngIf="user.id !== undefined">
                <button class="btn-learn-more" (click)="approveSolicitation(user.id!); $event.stopPropagation();">APROVAR</button>
                <button class="btn-learn-more" (click)="rejectSolicitation(user.id!); $event.stopPropagation();">RECUSAR</button>
              </ng-container>
            </div>
          </div>
        </div>        
      </div>
    </div>  
    <div *ngIf="showModal" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeRejectionModal()">&times;</span>
        <h2>Descreva o motivo da rejeição do CADASTRO:</h2>
        <textarea id="rejectionReason" [(ngModel)]="rejectionReason"></textarea>
        <button (click)="confirmRejection()">CONFIRMAR</button>
      </div>
    </div>    
    <app-footeradmin></app-footeradmin>
  </body>
</html>
