<html>
  <body>
    <app-navbaradmin></app-navbaradmin>
    <router-outlet></router-outlet>
    <div class="banner">
    <div class="container">
      <div class="sidebar">
        <div class="profile-pic">
          <img [src]="condutor?.foto ? 'data:image/jpeg;base64,' + condutor?.foto : '/assets/images/perfil.png'" alt="Foto de perfil">
        </div>
        <h2 class="username">{{ condutor?.nome || 'Nome do usuário' }}</h2>
        <nav>
          <ul>
            <li>
              <button [routerLink]="['/perfil', id]">PERFIL</button>
            </li>
            <li>
              <button [routerLink]="['/usercustomer', id]">USUÁRIO</button>
            </li>
            <li>
              <button [routerLink]="['/condutorcustomer', id]">CONDUTOR</button>
            </li>
            <li>
              <button [routerLink]="['/caocustomer', id]">CÃO DE SERVIÇO</button>
            </li>
            <li>
              <button [routerLink]="['/enderecocustomer', id]">ENDEREÇO</button>
            </li>
            <li>
              <button [routerLink]="['/adestramentocustomer', id]">ADESTRAMENTO</button>
            </li>
            <li>
              <button [routerLink]="['/documentacaocustomer', id]">DOCUMENTAÇÃO</button>
            </li>
            <li>
              <button [routerLink]="['/cadastrocustomer', id]">CADASTRO</button>
            </li>
          </ul>
        </nav>
      </div>
      <div class="user-details">
        <h2>PERFIL DO USUÁRIO</h2>
        <br>
        <form>
          <label>Bem vindo ao seu perfil</label>
          <br>
          <label>Aqui você pode configurar seus dados e os do seu cão de serviço, de forma que fiquem organizados.</label>
          <br>
          <label>Suas informações serão enviadas para a equipe técnica para serem analisadas e confirmadas. 
            Após a verificação da veracidade, 
            você receberá um cadastro no site com todos os seus documentos compilados e acessíveis por um QR Code. 
            Dessa forma, poderá circular livremente sem se preocupar em levar toda aquela papelada, 
            além de contar com a vantagem de que o site é confiável e bem aceito por estabelecimentos.</label>
            <br>
            <label>Para começar, clique nos botões à esquerda e adicione seus dados. Ao final, envie seu cadastro para verificação.</label>
        </form>
      </div>
    </div>  
  </div>
    <app-footeradmin></app-footeradmin>
  </body>
</html>