<html>
  <body>
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <div class="banner">
      <div class="content">
        <h1>SOBRE</h1>
        <div class="about-columns">
          <div class="about-column">
            <p class="author first-paragraph">POR QUE?</p>
            <br> 
            <p>
              Este site foi elaborado com o intuito de orientar e auxiliar as pessoas que desejam ingressar no mundo dos cães de serviço. 
              Cada etapa descrita aqui é fundamental para garantir que o processo de obtenção e treinamento de um cão de serviço seja conduzido de forma eficaz e responsável. 
            </p>
          </div>
          <div class="about-column">
            <p class="author first-paragraph">COMO?</p>
            <br> 
            <p>
              Adquirir um cão de serviço é um processo meticuloso e contínuo, que vai muito além da simples escolha de um companheiro. 
              A jornada começa com o alinhamento da ideia junto à equipe médica e à família, passando pela escolha cuidadosa do cão e o treinamento rigoroso, 
              que pode levar até dois anos. Após esse período, o cão recebe uma certificação, tornando-se oficialmente parte do tratamento. 
            </p>
          </div>
          <div class="about-column">
            <p class="author first-paragraph">ONDE?</p>
            <br> 
            <p>
              Hoje no Brasil, não existe uma lei em âmbito federal que ampare os cães de assistência, exceto o cão-guia.
              Porém, se o condutor for considerado pessoa com deficiência por uma lei, ele tem direito à utilização de
              tecnologia assistiva (serviço prestado pelo cão).
            </p>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
