<html>
  <body>
    <app-navbarcustomer></app-navbarcustomer>
    <router-outlet></router-outlet>
    <div class="banner">
    <div class="container">
      <div class="sidebar">
        <div class="profile-pic">
          <img [src]="condutor?.foto ? 'data:image/jpeg;base64,' + condutor?.foto : '/assets/images/perfil.png'" alt="Foto de perfil">
        </div>
        <h2 class="username">{{ condutor?.nome || 'Nome do usuário' }}</h2>
        <nav>
          <ul>
            <li>
              <button [routerLink]="['/perfil', id]">PERFIL</button>
            </li>
            <li>
              <button [routerLink]="['/usercustomer', id]">USUÁRIO</button>
            </li>
            <li>
              <button [routerLink]="['/condutorcustomer', id]">CONDUTOR</button>
            </li>
            <li>
              <button [routerLink]="['/caocustomer', id]">CÃO DE SERVIÇO</button>
            </li>
            <li>
              <button [routerLink]="['/enderecocustomer', id]">ENDEREÇO</button>
            </li>
            <li>
              <button [routerLink]="['/adestramentocustomer', id]">ADESTRAMENTO</button>
            </li>
            <li>
              <button [routerLink]="['/documentacaocustomer', id]">DOCUMENTAÇÃO</button>
            </li>
            <li>
              <button [routerLink]="['/cadastrocustomer', id]">CADASTRO</button>
            </li>
          </ul>
        </nav>
      </div>
      <div class="user-details">
        <h2>DADOS DO USUÁRIO</h2>
        <br>
        <form>
          <label for="email">E-mail</label>
          <input type="email" id="email" [value]="user?.email || ''" readonly>
    
          <label for="password">Senha</label>
          <input type="password" id="password" [value]="user?.senha || '*****'" readonly>
        
          <label for="perfil">Perfil</label>
          <input type="text" id="perfil" [value]="role?.nome || ''" readonly>
        </form>

        <div class="button-group">
          <button type="button" (click)="update()" class="btn-edit">Editar</button>
          <button type="button" (click)="delete()" class="btn-delete">Deletar</button>
        </div>
      </div>
    </div>  
  </div>
    <app-footercustomer></app-footercustomer>
    <div class="modal-overlay" *ngIf="showModal">
      <div class="modal">
        <h2>Tem certeza que deseja deletar o Usuário?</h2>
        <div class="modal-buttons">
          <button class="modal-btn confirm-btn" (click)="onConfirmDelete(true)">SIM</button>
          <button class="modal-btn cancel-btn" (click)="onConfirmDelete(false)">NÃO</button>
        </div>
      </div>
    </div>
  </body>
</html>