<html>
  <body>
    <app-navbarcustomer></app-navbarcustomer>
    <router-outlet></router-outlet>
    <div class="banner">
      <div class="content">
        <h1>INFORMAÇÕES DE SEGURANÇA</h1>
        <div class="about-columns">
          <div class="about-column">
            <p class="author first-paragraph">CONTATO</p>
            <br> 
            <p>
                Se você tiver dúvidas, sugestões ou preocupações relacionadas aos nossos Termos de Serviço ou ao uso dos serviços do "Cão de Serviço", entre em contato conosco utilizando as informações abaixo:
            <br>
            <br>
                Cão de Serviço Ltda.
                <br>
                Av. dos Heróis, 1234, Sala 567
                <br>
                Bairro Centro, São Paulo, SP, 01000-000
                <br>
                Brasil
                <br>
                Telefone: +55 (11) 98765-4321
                <br>
                E-mail: caodeservico{{ '@' }}gmail.com.br
            <br>
            <br>
                Nosso objetivo é responder às suas questões e resolver quaisquer problemas da maneira mais rápida e eficaz possível.
            </p>
          </div>
          <div class="about-column">
            <p class="author first-paragraph">TERMOS</p>
            <br> 
            <p>
                Bem-vindo ao "Cão de Serviço"! 
                Estes Termos de Serviço estabelecem o que você pode esperar de nós ao usar os serviços oferecidos pelo nosso site e o que esperamos de você. 
                É importante que você leia e compreenda estes termos, pois, para utilizar nossos serviços, você deve concordar com eles.
            <br>
            <br>
                Em vigor a partir de 26 de agosto de 2024
            </p>
          </div>
          <div class="about-column">
            <p class="author first-paragraph">SEGURANÇA</p>
            <br> 
            <p>
                A segurança dos nossos usuários é uma prioridade no "Cão de Serviço". 
                Tomamos medidas para proteger as informações e os dados fornecidos pelos usuários contra acesso não autorizado, alteração, divulgação ou destruição.
            <br>
            <br>
                Nós seguimos políticas de privacidade rigorosas para garantir que seus dados pessoais sejam tratados com respeito e conforme as regulamentações aplicáveis. 
                Qualquer violação ou tentativa de violação das medidas de segurança do "Cão de Serviço" será tratada com seriedade e pode resultar em suspensão ou encerramento da conta do usuário envolvido, além de possíveis ações legais.
            </p>
          </div>
        </div>
      </div>
    </div>
    <app-footercustomer></app-footercustomer>
  </body>
</html>
