<html>
  <body>
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
    <div class="banner">
      <div class="register-container">
        <h2>Cadastro do Endereço</h2>
        <form>
          <label for="pais">País</label>
          <input type="text" id="pais" name="pais" required>

          <label for="estado">Estado</label>
          <input type="text" id="estado" name="estado" required>

          <label for="cep">CEP</label>
          <input type="text" id="cep" name="cep" pattern="\d*" title="Apenas números são permitidos" required>

          <label for="cidade">Cidade</label>
          <input type="text" id="cidade" name="cidade" required>

          <label for="bairro">Bairro</label>
          <input type="text" id="bairro" name="bairro" required>

          <label for="rua">Rua</label>
          <input type="text" id="rua" name="rua" required>

          <label for="numero">Número</label>
          <input type="text" id="numero" name="numero" pattern="\d*" title="Apenas números são permitidos" required>

          <label for="complemento">Complemento</label>
          <input type="text" id="complemento" name="complemento" required>

          <button type="submit">Cadastrar</button>
        </form>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>