/* General reset and fonts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background: #121212;
  color: white;
}

header {
  position: absolute; /* Posiciona a navbar de forma absoluta */
  top: 5%; /* Ajusta a distância do topo */
  left: 5%; /* Ajusta a distância da esquerda */
  right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10; /* Garante que fique acima do banner */
}

.logo img {
  height: 50px;
}

.navbar {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.navbar a {
  color: #ffffff; /* Cor dos links branca */
  text-decoration: none;
  font-weight: 1000;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #7c7e7e;
}

.sign-up {
  position: relative;
  margin-left: 40px;
}

.sign-up .btn-sign-up {
  background: rgba(255, 255, 255, 0.87);
  color: #121212;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s, color 0.3s;
}

.sign-up .btn-sign-up:hover {
  background: #666;
  color: white;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 150%;
  right: 0;
  left: 0%;
  background-color: white;
  border-radius: 20px;
  padding: 10px 10px;
  z-index: 1000;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: flex;
  font-size: 80%;
  padding: 5%;
  color: #121212;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.3s, color 0.3s;
}

.dropdown-menu li a:hover {
  background-color: #666;
  color: #ffffff;
}

.sign-up:hover .dropdown-menu {
  display: block;
}

