<html>
  <body>
    <app-navbaradmin></app-navbaradmin>
    <router-outlet></router-outlet>
    <div class="banner">
    <div class="container">
      <div class="sidebar">
        <div class="profile-pic">
          <img [src]="condutor?.foto ? 'data:image/jpeg;base64,' + condutor?.foto : '/assets/images/perfil.png'" alt="Foto de perfil">
        </div>
        <h2 class="username">{{ condutor?.nome || 'Nome do usuário' }}</h2>
        <nav>
        <ul>
          <li>
            <button [routerLink]="['/perfiladmin', id]">PERFIL</button>
          </li>
          <li>
            <button [routerLink]="['/useradmin', id]">USUÁRIO</button>
          </li>
          <li>
            <button [routerLink]="['/condutoradmin', id]">CONDUTOR</button>
          </li>
          <li>
            <button [routerLink]="['/caoadmin', id]">CÃO DE SERVIÇO</button>
          </li>
          <li>
            <button [routerLink]="['/enderecoadmin', id]">ENDEREÇO</button>
          </li>
          <li>
            <button [routerLink]="['/adestramentoadmin', id]">ADESTRAMENTO</button>
          </li>
          <li>
            <button [routerLink]="['/documentacaoadmin', id]">DOCUMENTAÇÃO</button>
          </li>
          <li>
            <button [routerLink]="['/cadastroadmin', id]">CADASTRO</button>
          </li>
        </ul>
      </nav>
    </div>
    <div class="user-details">
      <h2>DADOS DO USUÁRIO</h2>
      <br>
      <form>
        <label for="email">E-mail</label>
        <input type="email" id="email" [(ngModel)]="user.email" name="email">
      
        <label for="password">Senha</label>
        <input type="password" id="password" [(ngModel)]="user.senha" name="senha">

        <div>
          <label for="role">Perfil do Usuário</label>
          <select id="role" name="role" [(ngModel)]="selectedRole" required #role="ngModel">
            <option value="" disabled>Selecione um perfil</option>
            <option *ngFor="let role of roles" [value]="role.nome">{{ role.nome }}</option>
          </select>
          <div *ngIf="role.invalid && role.touched" class="error">
            A escolha do tipo de perfil é obrigatória.
          </div>
        </div>
      </form>
      <div class="button-group">
        <button type="button" (click)="adminUpdate()" class="btn-edit">Salvar</button>
        <button type="button" (click)="cancel()" class="btn-delete">Cancelar</button>
      </div>
    </div>
  </div>  
</div>
<app-footeradmin></app-footeradmin>
</body>
</html>
