body, html {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', Arial, sans-serif;
  background: #121212;
  color: white;
}

.banner {
  flex: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/images/bannerinicio.png') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    text-align: left;
}

.content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px 10px;
  margin-left: 10%;
}

h1 {
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 30px;
  line-height: 1.1;
}

.welcome {
  color: #5a5a5a;
  display: flex;
  font-size: 0.6em;
}

.title {
  color: #ffffffe0;
  display: flex;
  font-size: 1.0em;
}

.btn-learn-more {
  background: rgba(255, 255, 255, 0.849);
  color: #383838;
  padding: 15px 30px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1em;
  transition: background 0.3s, color 0.3s;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.btn-learn-more:hover {
  background: #666;
  color: white;
}
