<html>
  <body>
    <app-navbaradmin></app-navbaradmin>
    <router-outlet></router-outlet>
    <div class="banner">
    <div class="container">
      <div class="sidebar">
        <div class="profile-pic">
          <img [src]="condutor?.foto ? 'data:image/jpeg;base64,' + condutor?.foto : '/assets/images/perfil.png'" alt="Foto de perfil">
        </div>
        <h2 class="username">{{ condutor?.nome || 'Nome do usuário' }}</h2>
        <nav>
          <ul>
            <li>
              <button [routerLink]="['/perfiladmin', id]">PERFIL</button>
            </li>
            <li>
              <button [routerLink]="['/useradmin', id]">USUÁRIO</button>
            </li>
            <li>
              <button [routerLink]="['/condutoradmin', id]">CONDUTOR</button>
            </li>
            <li>
              <button [routerLink]="['/caoadmin', id]">CÃO DE SERVIÇO</button>
            </li>
            <li>
              <button [routerLink]="['/enderecoadmin', id]">ENDEREÇO</button>
            </li>
            <li>
              <button [routerLink]="['/adestramentoadmin', id]">ADESTRAMENTO</button>
            </li>
            <li>
              <button [routerLink]="['/documentacaoadmin', id]">DOCUMENTAÇÃO</button>
            </li>
            <li>
              <button [routerLink]="['/cadastroadmin', id]">CADASTRO</button>
            </li>
          </ul>
        </nav>
        </div>
        <div class="user-details">
          <h2>DADOS DO ADESTRAMENTO</h2>
          <br>
          <form>   
            <label for="adestrador">Nome do Adestrador</label>
            <input type="text" id="adestrador" [value]="adestramento?.adestrador || ''" readonly>
  
            <label for="cpf">CPF do Adestrador</label>
            <input type="text" id="cpf" pattern="\d*" title="Apenas números são permitidos" [value]="adestramento?.cpf || ''" readonly>
  
            <label for="instituicao">Nome da Instituição de Adestramento</label>
            <input type="text" id="instituicao" [value]="adestramento?.instituicao || ''" readonly>

            <label for="cnpj">CNPJ da Instituição de Adestramento</label>
            <input type="text" id="cnpj" pattern="\d*" title="Apenas números são permitidos" [value]="adestramento?.cnpj || ''" readonly>
  
            <label for="tempo">Tempo de Adestramento</label>
            <input type="text" id="tempo" [value]="adestramento?.tempo || ''" readonly>
          </form>
          <div class="button-group">
            <button type="button" (click)="update()" class="btn-edit">Editar</button>
            <button type="button" (click)="delete()" class="btn-delete">Deletar</button>
          </div>
        </div>
      </div>  
    </div>
    <app-footeradmin></app-footeradmin>
    <div class="modal-overlay" *ngIf="showModal">
      <div class="modal">
        <h2>Tem certeza que deseja deletar o Adestramento?</h2>
        <div class="modal-buttons">
          <button class="modal-btn confirm-btn" (click)="onConfirmDelete(true)">SIM</button>
          <button class="modal-btn cancel-btn" (click)="onConfirmDelete(false)">NÃO</button>
        </div>
      </div>
    </div>
  </body>
</html>